

.tab_b{

 display:inline-block;
 border: none;
 background-color: grey;
 float:left;
 border: solid;
 border-color: black;
 width: 25%;


}

.tab_b:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dailer_p{


   display: inline-block;
   width: 30%;
   height: 10%;      
   margin-bottom: 0.5em;
   padding-top: .5em;
   padding-bottom: .5em;
   color: #fff;
   background-color: #aaabbb;
   border-radius: 5px;
   border: solid #cccccc 1px;
   box-shadow: 2px 2px 1px #888888;
   clear:right;
   float:left;
}